<div class="dialog-container-company">
    <md-dialog aria-label="Company">
        <md-content class="sticky-container">
            <!--<md-subheader class="md-sticky-no-effect">{{company.name}}</md-subheader>-->
            <div class="dialog-content">
                <div class="dialog-company">
                    <div class="dialog-company-header">
                        <img src="https://maps.googleapis.com/maps/api/staticmap?size=480x480&markers=color:blue%7CPhilippstra%C3%9Fe%209%20Karlsruhe">
                        <div>
                            {{company.name}}
                        </div>
                        <div class="dialog-company-header-basic">
                            <div>
                                {{::company.country}}
                            </div>
                            <div>
                                {{::company.city}}
                            </div>
                            <div>
                                {{::company.street}}
                            </div>
                            <div>
                                {{::company.website}}
                            </div>
                        </div>
                        <div class="dialog-company-header-numbers">
                            <div>
                                #employees: {{::company.numberOfEmployees}}
                            </div>
                            <div>
                                #offers: {{::company.numberOfEmployees}}
                            </div>
                        </div>
                    </div>
                    <div class="dialog-company-description">
                        {{::company.description}}
                    </div>
                </div>
            </div>
        </md-content>
        <!--<div class="md-actions" layout="row">-->
        <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>-->
        <!--More on Wikipedia-->
        <!--</md-button>-->
        <!--<span flex></span>-->
        <!--<md-button ng-click="answer('not useful')">-->
        <!--Not Useful-->
        <!--</md-button>-->
        <!--<md-button ng-click="answer('useful')" class="md-primary">-->
        <!--Useful-->
        <!--</md-button>-->
        <!--</div>-->
    </md-dialog>
</div>