<!DOCTYPE html>
<html ng-app="praxismarket">
<head>
    <title>Angular Starter Template</title>

    <meta charset="UTF-8">

    <script src="scripts/communicator.js"></script>

    <!-- Angulars Material CSS now available via Google CDN; version 0.8 used here -->
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <!-- Readmore and JQuery -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/libs/readmore.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
    <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

	<!-- Add styles -->
    <link rel="stylesheet" type="text/css" href="styles/cards.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">

</head>
<body ng-controller="MainController" layout="row" ng-click="closeDialog()">
    <!--<section layout="row" flex>-->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{ appName }}</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-list ng-repeat="offer in offerTypes">
                    <md-list-item class="md-2-line" ng-click="typeSelected(offer)">
                        <i class="fa {{ offer.icon }} nav-icon"></i>

                        <div class="md-list-item-text">
                            <h3>{{ offer.name }}</h3>

                            <p>{{ offer.shortname }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <!--<div layout="column" style="height: 100%">-->
        <div layout="column" flex role="main" tabindex="-1">

        <md-toolbar class="toolbar">
            <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
                <i class="fa fa-bars menu-icon"></i>
            </md-button>

            <h2 show-gt-md style="min-width: 175px; margin-left: 8px">
                <span>{{ appName }}</span>
            </h2>
            <!--<span style="width: 304px; max-width: 304px;" show-gt-md></span>-->
            <div class="input-container">
                <input type="text" placeholder="Search" class="search-input"
                       ng-focus="focus()" ng-blur="blur()" ng-model="searchQuery">
                <i class="fa fa-search search-icon" id="search-icon"></i>
            </div>
            <md-button class="md-icon-button" aria-label="Wish List">
                <i class="fa fa-clipboard list-icon"></i>
            </md-button>
            </div>
        </md-toolbar>


        <md-content ng-view flex layout-padding class="main-content">

            <!--<div layout="column" layout-fill layout-align="top center">-->
            <!--<p>-->
            <!--The left sidenav will 'lock open' on a medium (>=960px wide) device.-->
            <!--</p>-->

            <!--<p>-->
            <!--The right sidenav will focus on a specific child element.-->
            <!--</p>-->

            <!--<div>-->
            <!--<md-button ng-click="toggleLeft()"-->
            <!--class="md-primary" hide-gt-md>-->
            <!--Toggle left-->
            <!--</md-button>-->
            <!--</div>-->
            <!--</div>-->
            
            <div class="card-container-wrapper">
                <md-content style="background-color: #ECECEC;">
                    <div class="card-container">
                        <md-card class="card" ng-repeat="j in joboffers | filter:searchQuery">
                            <md-card-content>
                                <div class="card-header">
                                    <div ng-click="showCompanyDetails($event, 0)" class="card-header-avatar">
                                        <img src="https://plus.google.com/_/favicon?domain=www.facebook.com"
                                             class="material-avatar"></div>
                                    <div class="card-header-info">
                                        <span ng-click="showCompanyDetails($event, j.company.id)" class="card-header-title">{{::j.company.companyName}}</span>
                                        <span class="card-header-title card-location">{{::j.usageSite}}</span>
                                    </div>

                                    <!--<div class="card-header-info">-->
                                    <!--<div>Location</div>-->
                                    <!--<div>Valid date</div>-->
                                    <!--</div>-->
                                </div>
                                <!--<hr>-->
                                <div class="card-body">
                                    <div class="card-body-title">{{::j.shortDescription}}</div>
                                    <article class="card-body-text">
                                        {{::j.description}}
                                    </article>
                                </div>
                                <div class="card-footer">
                                    <md-button class="md-icon-button" aria-label="Add to Note List"
                                               style="width: 32px; height: 32px;">
                                        <md-icon class="card-icon-button"
                                                 md-svg-icon="img/icons/ic_bookmark_outline_48px.svg"/>
                                    </md-button>
                                <span class="card-footer-contact">
                                 <md-button class="card-flat-button" style="margin-right: 4px"> Contact</md-button>
                                </span>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                    <md-button class="more-button" ng-show="moreOffersAvailable" ng-click="loadMoreOffers()">More...
                    </md-button>
                </md-content>
            </div>
        </md-content>
    <!--</section>-->

    <!-- AngularJS itself -->
    <script src="libs/angular.min.js"></script>

    <!-- ngTouch provides better support for touch input -->
    <!-- <script src="libs/angular-touch.min.js"></script> -->

    <!-- ngRoute provides support for routing for SPA -->
    <!-- <script src="libs/angular-route.min.js"></script> -->

    <!-- ngAria adds support for accessibility -->
    <!-- <script src="libs/angular-aria.min.js"></script> -->

    <!-- ngAnimate adds support for rhich CSS animations -->
    <!-- <script src="libs/angular-animate.min.js"></script> -->

    <!-- ngCookies adds an Angular wrapper for reading/writing cookies -->
    <!-- <script src="libs/angular-cookies.min.js"></script> -->

    <!-- ngMessages adds support for enhanced (error) messages in forms and more -->
    <!-- <script src="libs/angular-messages.min.js"></script> -->

    <!-- ngResource provides a service for interaction with REST service -->
    <!-- <script src="libs/angular-resource.min.js"></script> -->

    <!-- ngSanitize provides functionallity to sanitize HTML content -->
    <!-- <script src="libs/angular-sanitize.min.js"></script> -->

    <!-- Include all your script files here -->
    <script src="scripts/module.js"></script>
    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <h3>ngDialog template</h3>

            <p ng-show="theme">Test content for <code>{{theme}}</code></p>

            <p ng-show="ngDialogData.foo">Data passed through: <code>{{ngDialogData.foo}}</code></p>

            <p ng-show="dialogModel.message">Scope passed through: <code>{{dialogModel.message}}</code></p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary"
                    ng-dialog="secondDialogId"
                    ng-dialog-class="ngdialog-theme-default"
                    ng-dialog-controller="SecondModalCtrl"
                    ng-dialog-close-previous>Close and open
            </button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openSecond()">Open next
            </button>
        </div>
    </script>
    <script>
        $('.card-body-text').each(function() {
            if($(this).innerHeight() > 150){
                $(this).readmore({
                    moreLink: '<a href="#" class="read-more-link">Show more text ></a>',
                    lessLink: '<a href="#" class="read-less-link">&lt; Show less text</a>',
                    maxHeight: 228,
                    speed: 200,
                    afterToggle: function(trigger, element, expanded) {
                        if(! expanded) { // The "Close" link was clicked
                            $('html, body').animate( { scrollTop: element.offset().top }, {duration: 100 } );
                        }
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>
