<!DOCTYPE html>
<html ng-app="praxismarket">
<head>
	<title>Angular Starter Template</title>

	<meta charset="UTF-8">

	<!-- Angulars Material CSS now available via Google CDN; version 0.8 used here -->
	<link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">

    <!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
	<script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

	<!-- Add styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">

</head>
<body ng-controller="MainController">

<div ng-controller="AppCtrl" layout="column" style="height: 100%">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{ appName }}</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-list>
                    <md-list-item class="md-2-line">
                        <i class="fa fa-book nav-icon"></i>
                        <div class="md-list-item-text">
                            <h3>Foo List Item 1</h3>
                            <p>asdasdasd</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <i class="fa fa-book nav-icon"></i>
                        <div class="md-list-item-text">
                            <h3>Foo List Item 2</h3>
                            <p>asdasdasd</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <i class="fa fa-book nav-icon"></i>
                        <div class="md-list-item-text">
                            <h3>Foo List Item 3</h3>
                            <p>asdasdasd</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <i class="fa fa-book nav-icon"></i>
                        <div class="md-list-item-text">
                            <h3>Foo List Item 4</h3>
                            <p>asdasdasd</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md >
                        <i class="fa fa-bars menu-icon"></i>
                    </md-button>
                    <h2 hide-gt-md style="min-width: 175px; margin-left: 8px">
                        <span>{{ appName }}</span>
                    </h2>
                    <div class="input-container">
                        <input type="text" placeholder="Search" class="search-input"
                               ng-focus="focus()" ng-blur="blur()">
                            <i class="fa fa-search search-icon" id="search-icon"></i>
                    </div>

                    <!--<span flex></span>-->
                    <md-button class="md-icon-button" aria-label="Wish List">
                        <i class="fa fa-clipboard list-icon"></i>
                    </md-button>
                </div>
            </md-toolbar>


            <div layout="column" layout-fill layout-align="top center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>
                <p>
                    The right sidenav will focus on a specific child element.
                </p>
                <div>
                    <md-button ng-click="toggleLeft()"
                               class="md-primary" hide-gt-md>
                        Toggle left
                    </md-button>
                </div>
            </div>
            <div flex></div>
        </md-content>

    </section>
</div>


	<!-- AngularJS itself -->
	<script src="libs/angular.min.js"></script>

	<!-- ngTouch provides better support for touch input -->
	<!-- <script src="libs/angular-touch.min.js"></script> -->

	<!-- ngRoute provides support for routing for SPA -->
	<!-- <script src="libs/angular-route.min.js"></script> -->

	<!-- ngAria adds support for accessibility -->
	<!-- <script src="libs/angular-aria.min.js"></script> -->

	<!-- ngAnimate adds support for rhich CSS animations -->
	<!-- <script src="libs/angular-animate.min.js"></script> -->

	<!-- ngCookies adds an Angular wrapper for reading/writing cookies -->
	<!-- <script src="libs/angular-cookies.min.js"></script> -->

	<!-- ngMessages adds support for enhanced (error) messages in forms and more -->
	<!-- <script src="libs/angular-messages.min.js"></script> -->

	<!-- ngResource provides a service for interaction with REST service -->
	<!-- <script src="libs/angular-resource.min.js"></script> -->

	<!-- ngSanitize provides functionallity to sanitize HTML content -->
	<!-- <script src="libs/angular-sanitize.min.js"></script> -->

	<!-- Include all your script files here -->
	<script src="scripts/module.js"></script>

</body>
</html>
